   <div class="black">
        <div class="row px-5 main-text">
            <p class="display-2 text-white">Welcome to <br>Lease Rental Mangement</p>
        <p class="display-5 text-light">Buy,Sell & Manage</p>
        </div>
    </div>
    <div class="bg-image">
    </div>
    <br>
<!-- 
    <h1 class="display-4 text-center font-weight-light text-secondary"> What we offer</h1>
    <hr style="background-color: grey; width:500px; height: 1px; margin: auto;">
    <br>
    <br>
    <div class="container text-center toptexts2" id="toptexts2">
        <div class="grid-item roomTab">
            <div class="black2" style="color:white;">
                <h4>Buy,Sell & Maintain Virtually</h4><br>
                <p class="p-5">Buy or sell any property. Find the best suited property at no brokerage or any extra cost.</p>
            </div>
        </div>
        <div class="grid-item foodTab">
            <div class="black2" style="color:white;">
                <h4>Maintanance Services</h4><br>
                <p class="p-5">Maintain buyer details, property details and solve buyers grivences virtually.</p>
            </div>
        </div>
        <div class="grid-item laundryTab">
            <div class="black2" style="color:white;">
                <h4>Laundry Service</h4><br>
                <p class="p-5">Search the best suited rooms/appartments or hostel for you. Click to know more</p>
            </div>
        </div>
        <div class="grid-item vehicleTab">
            <div class="black2" style="color:white;">
                <h4>Vehicle Rental</h4><br>
                <p class="p-5">Search the best suited rooms/appartments or hostel for you. Click to know more</p>
            </div>
        </div> 
    </div> -->
  
    <div class="container2">
        <br>
        <br>
        <div class="FindPg toptexts2" id="toptexts2">
            <div class="row">
                <span class="display-5 text-center">1.Sign Up</span>
                <div class="col-md-6">
                    <img width=400px; src="../../../assets/Signin.jpg" />
                </div>
                <p  class="col-md-6 text-muted"><br>Create your account at Lease Rental, If you are looking for<br> property buyer sign up as a Owner else Seller.
                </p>
            </div>
        </div>
      
        <div class="FindPg toptexts2" id="toptexts2">
            <div class="row">
                <span class="display-5 text-center">2.Search</span>
                <p  class="col-md-6 text-muted"><br> After sign up search property you find best,<br> or put your property for sale.
                </p>
                <div class="col-md-6">
                    <img width="400px"  src="../../../assets/search.jpg" />
                </div>
            </div>
        </div>

        <div class="FindPg toptexts2" id="toptexts2">
            <div class="row">
                <span class="display-5 text-center">3. Book / Add Property</span>
                <div class="col-md-6">
                    <img width=400px; src="../../../assets/Booking.jpg" />
                </div>
                <p  class="col-md-6 text-muted">Book property by checking all the details<br> and got track of all the booked properties.
                </p>
            </div>
        </div>

        <div class="FindPg toptexts2 " id="toptexts2">
            <div class="row">
                <span class="display-5 text-center">4.Dashboard</span>
                <p  class="col-md-6 text-muted"><br>Manage your Property here, Add, delete or edit <br> your profile and properties. Create or see grivences tickets.
                </p>
                <div class="col-md-6">
                    <img width="400px"  src="../../../assets/dashboard.jpg" />
                </div>
            </div>
        </div>
    </div>