<nav *ngIf="auth.isLoggedIn()" class="navbar  navbar-dark  navbar-expand-md bg-dark justify-content-center">
    <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item active">
            <a class="nav-link text-white" *ngIf="auth.getRole()=='owner' " routerLink="dashboard">
                <button class="btn btn-secondary mx-5" type="button"><img style="box-shadow: 1px 1px 10px black;" src="https://img.icons8.com/metro/26/ffffff/contacts.png"/>&nbsp;&nbsp;
                <span class="sr-only">Dashboard</span></button>
               <button class="btn btn-secondary mx-5" routerLink="dashboard" type="button">Grivences<span class="badge bg-danger mx-2" style="box-shadow: 1px 1px 10px black;" >{{totalCount}}</span></button>
            </a>
            <a class="nav-link text-white" *ngIf="auth.getRole()=='tenant' " routerLink="tenant-dashboard">
                <img src="https://img.icons8.com/metro/26/ffffff/contacts.png"/>&nbsp;&nbsp;
                <span class="sr-only">Dashboard</span>
            </a>
        </li>
    </ul>
</nav>
<nav class="navbar  navbar-dark  navbar-expand-md justify-content-center">
    <a href="/" class="navbar-brand">&nbsp;&nbsp;Lease Renting</a>
    <button class="navbar-toggler m-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" routerLinkActive="active" routerLink="home"><span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="room" *ngIf="auth.getRole()!='owner' ">Search Properties</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="food">Food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="laundry">Laundry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="vehicle">Vehicle</a>
            </li> -->
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap" id="user">
            <li *ngIf="!auth.isLoggedIn()" class="nav-item"><a class="nav-link" routerLink="login" >Sign In</a> </li>
            <li *ngIf="!auth.isLoggedIn()" class="nav-item"><a class="nav-link" routerLink="registration">Sign up</a> </li>
            <li *ngIf="auth.isLoggedIn()" class="nav-item"><a class="nav-link" (click)="auth.logout()">logout</a> </li>
        </ul>
    </div>
</nav>