
<div class="card">
    <img *ngIf="create" (click)="back()" style="cursor: pointer;max-width: 60px;" src="https://img.icons8.com/ios/50/000000/circled-left-2.png"/>


<div class="container" *ngIf="!create">
    <p class="display-5 text-center">Grivence Mangement Portal</p>
    <div class="row boxticket p-5">
        <div class="col-md-4" (click)="createTicket()">
            <p class=" text-center text-weight-bold">Create Ticket</p>
            <img src="https://img.icons8.com/ios-filled/150/000000/plus.png"/>
        </div>
        <div class=" col-md-8 container">
            <p class="display-5 text-center">Ticket History</p>
            <div class="row">
                <div class="card m-2" *ngFor="let res of myTicket">
                    <div class="card-body">
                        <h5 class="card-title">{{res.type}}</h5>
                        <h6 class="card-subtitle mb-2" [ngStyle]="{'color':res.status=='Pending'?'red':'green'}">Status:{{res.status}} </h6>
                        <p class="card-text">{{res.discription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="create">
    <h1 class="display-5 text-center pt-2">Create Ticket</h1>
    <div class="row">
        <form>
            <div class="form-group">
                <label for="form-select">Select Ticket type:</label>
                <select class="form-select" aria-placeholder="Select Type" name="type" [(ngModel)]="type">
                    <option value="Request Service" selected>Request Service</option>
                    <option value="Report Problem in Portal">Report Problem in Portal</option>
                    <option value="Enquiry">Enquiry</option>
                </select>
            </div>
            <div class="form-group">
                <label class="text-muted">Enter Property ID:</label><br>
                <input type="text" name="propid" class="form-control" [(ngModel)]="propid">
                <label class="text-muted">Enter Seller ID:</label><br>
                <input type="text" name="ownerid" class="form-control" [(ngModel)]="ownerid">
            </div>
            <div class="form-group">
                <label class="text-muted">Discribe your Ticket</label><br>
                <textarea type="text" name="discribe" class="form-control" [(ngModel)]="discribe"></textarea>
            </div>
            <div class="form-group">
                <label class="text-muted">Enter your Email/phone :</label><br>
                <input type="text" name="phonemail" class="form-control" [(ngModel)]="phonemail">
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </form>
    </div>
</div>


</div>
