<div class="container1">

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome to LMS</h3>
                <input type="submit" name="" routerLink="/login" value="login" /><br />
            </div>
            <div class="col-md-9 register-right">
                <!-- <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tenant-tab" data-toggle="tab" href="#tenant" role="tab" aria-controls="tenant" aria-selected="false">Tenant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="owner-tab" data-toggle="tab" href="#owner" role="tab" aria-controls="owner" aria-selected="true">Owner</a>
                </li>
            </ul> -->

                <div class="row mt-5 p-5 text-center" *ngIf="!showRegister">
                <h5 class="h4 text-center text-secondary">Enter Phone Number</h5>
                <div class="row m-2  flex-direction-row justify-content-center align-items-md-center">
                    <div class="alert alert-danger" *ngIf="invalidOtp" role="alert">
                        Invalid OTP
                       </div> 
                    <div class="col-md-4 form-group">
                            <input type="text" class="text-center"  placeholder="Enter phone number" [(ngModel)]="phoneno">
                    </div>
                </div>

                <div class="row m-2 d-flex flex-direction-row justify-content-center">
                        <div *ngIf="!enterCode" class="col-md-3">
                            <button class="btn btn-success"  (click)="sendCode()">Send code</button>
                        </div>
                        <div *ngIf="enterCode" class="col-md-3">
                            <p class="text-success">Code sent! check your Message box</p>
                            <input type="text" [(ngModel)]="code" class="form-control"
                            placeholder="Enter code sent " required >
                            <br>
                            <button class="btn btn-success" (click)="verifyCode()">verify
                                code</button>
                                <a class="nav-link text-secondary" (click)="sendCode()">Send Again</a>
                        </div>

                   

                </div>
            </div>

                <div class="tab-content" id="myTabContent" *ngIf="showRegister">
                    <div class="tab-pane fade show active" id="tenant" role="tabpanel" aria-labelledby="tenant-tab">
                        <p class="text-success text-center text-small" *ngIf="showRegister">Phone Number verifyed Successfully</p>
                        <h3 class="register-heading">Sign Up as a {{userType}}</h3>
                        <form [formGroup]="register" (ngSubmit)="onSubmit()">
                            <div class="row register-form">
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class="radio inline">
                                            <input type="radio"  formControlName="role" [(ngModel)]="userType"
                                                value="Tenant">
                                            <span> Tenant </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" formControlName="role" [(ngModel)]="userType"
                                                value="Owner">
                                            <span> Owner </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="firstName" [class.is-invalid]="register.get('firstName').invalid && 
                                        register.get('firstName').touched" class="form-control"
                                            placeholder="First Name *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="lastName" [class.is-invalid]="register.get('lastName').invalid && 
                                    register.get('lastName').touched"  placeholder="Last Name" class="form-control"
                                            value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" formControlName="password" class="form-control"
                                            placeholder="Password *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" class="form-control"
                                            formControlName="confirmPassword" placeholder="Confirm Password *"
                                            value="" />
                                        <div *ngIf="register.errors?.noMatch"
                                            class="cross-validation-error-message alert alert-danger">
                                            Confirm password doesn't match
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input type="radio" formControlName="gender" value="male" checked>
                                                <span> Male </span>
                                            </label>
                                            <label class="radio inline">
                                                <input type="radio" formControlName="gender" value="female">
                                                <span>Female </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="date" formControlName="dob" class="form-control"
                                            placeholder="You D.O.B *" id="datepicker" value="" />
                                    </div>

                                    <div class="form-group">
                                        <input type="email" formControlName="email" class="form-control"
                                            placeholder="Your Email *" value="" />
                                        <div *ngIf=" register.get('email').invalid" class="alert alert-danger">
                                            <div>
                                                please enter the correct email
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Choose Profile Image</label>
                                        <input type="file" (change)="handleFileInput($event.target.files)">
                                    </div>
                                    <input type="submit" class="btnRegister disabled"
                                        [disabled]="!register.valid" value="Register" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>