<footer class="footer text-white bg-dark">
    <div class="container">
      <p class="display-5 text-center">About Us</p>
           <p class="text-secondary text-center">Lease Rental is a platform where user can list their property, buy any property
             which is available for rental purpose. It simplify the process of buying, selling and managing services to properties at one place.
           </p>
            <!-- <div class="container p-4">
            
              <div class="row">
          
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h4 class="text-uppercase text-dark">Services</h4>
          
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#!" class="text-dark text-decoration-none" routerLink="/Rooms">PG rooms</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark text-decoration-none" routerLink="Foods">Food service</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark text-decoration-none">Laundary Service</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark text-decoration-none">Job/Internships</a>
                    </li>
                  </ul>
                </div>
              
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h4 class="text-uppercase mb-0 text-dark">Join Us</h4>
          
                  <ul class="list-unstyled">
                    <li>
                      <a href="#!" class="text-dark text-decoration-none" routerLink="/AddPG"> List your P.G/Appartment</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark text-decoration-none">Laundary vendor</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark text-decoration-none">Job/Internships posting</a>
                    </li>
                    <li>
                      <a href="#!" class="text-dark text-decoration-none" routerLink="Vendor-Registration">Food vendor</a>
                    </li>
                  </ul>
                </div>
              
                
              </div>
            
            </div> -->
           
    </div>
    <div class="footer-copyright text-center py-3 bg-dark text-white" >© 2020 Copyright:
        <a href="#"> LMS.com</a>
      </div>
</footer>