

<div class="container1">

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <form [formGroup]="login" (ngSubmit)="onSubmit()" class="box">
                    <a class="text-primary" style="cursor: pointer;" routerLink="/home">Go to home</a>
                    <div class="form">
                        <a class="text-white" routerLink="/registration">New User? Create your Account now</a>
                        <p  class="text-white">Or</p>
                        <h1>Login</h1>
                    <div class="show">
                        <p class="text-muted"> Please enter your login and password!</p> 
                        <input type="text" formControlName="email" placeholder="Enter your email">
                         <input type="password" formControlName="password" placeholder="Password">
                          <a class="forgot text-muted" routerLink="/forgot-password">Forgot password?</a> 
                          <input type="submit" name="submit" value="Login">
                        <!-- <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><img src="https://img.icons8.com/doodle/50/000000/facebook-new.png"/></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><img src="https://img.icons8.com/plasticine/50/000000/twitter--v2.png"/></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><img src="https://img.icons8.com/doodle/48/000000/google-plus-circled.png"/></a></li>
                            </ul>
                        </div> -->
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>