<div class="container">
    <h1 class="display-1 text-center m-5">
        Food
    </h1>
    <div class="row d-flex justify-content-between">
        <div class="card tiffin">
           
            <div class="card-img-overlay">
                <h5 class="card-title">Tiffin</h5>
                <p class="card-text">
                    Get delecious food delivered at your doorstep.
                </p>
                <button class="btn btn-dark">choose vendors</button>
            </div>
        </div>
        <div class="card cook ">

            <div class="card-img-overlay">
                <h5 class="card-title">Cook</h5>
                <p class="card-text">
                    Choose your taste daily, hire cook nearby.
                </p>
                <button class="btn btn-dark">Hire Cook</button>
            </div>
        </div>
        <div class="card daily">
   
            <div class="card-img-overlay">
                <h5 class="card-title">Restaurant Nearby</h5>
                <p class="card-text">
                   Find the best rated Restaurant nearby, order food at just one click.
                </p>
                <button class="btn btn-dark b-0">Order Now</button>
            </div>
        </div>
    </div>
</div>
<h1>
</h1>