<div class="container">
    <h1 class="display-5 text-center pt-2">My account</h1>
    <p class="h4 text-dark p-3 text-center">Booked Properties</p>
    <div class="row">
        <div class="card bg-light col-md-4 m-2" *ngFor="let property of myproperty" style="width: 18rem;">
            <!-- <img src="../../../../../assets/Room3.jpg" alt="" class="card-img-top"> -->
            <div class="card-body">
                <h5 class="card-title color1">{{property.pgbookedname}}</h5>
                <p class="card-text color2"><b>Property Id: </b>{{property.pgid}}</p>
                <p class="card-text color2"><b>Seller Id: </b>{{property.ownerid}}</p>
                <p class="card-text color2"><b>Rent Paid:</b> {{property.payment}}</p>
            </div>
        </div>
    </div>
</div>